<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gemidão do zap</title>
    <style>
        h1 {
            text-align: center
        }
        form {
            text-align: center
        }
    
    </style>
</head>

<body>
    <h1>Send Gemidão do zap</h1>
        <form>
            <label for="Number">Celfone</label>
            <br />
            <input type="text" name="phone" id="inpPhone">
            <br />
            <button type="submit">Enviar!</button>
        </form>


</body>

</html>